*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}

body{
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --main-blue: #0084fd;
    --main-lightblue: #b5ddff;

    --secondary-color: #9593e6

}


.container{
    padding: 20px;
    width: 100%;

}


.flex{
    display: flex;
    flex-wrap: wrap;
}

.spacebetween{
    justify-content: space-between;
}


/* HEADER */

header{
    background-color: var(--main-blue);

}

.burger{
    font-size: 2em;

}

/* Main */

/* Card */
.card{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-lightblue);
    border-radius: 25px;
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
    width: 100%;
    margin-bottom: 2.5rem;
}

.card h2{
    color: var(--main-blue);
    margin-bottom: 1rem;
}

.card p{
    line-height: 2rem;
    opacity: 0.8;
}
/* First Card */
.first-card p{
    text-align: left;
    margin-bottom: 2rem;
}

.app-store{
    padding: 10px 20px;
    color: white;
    background-color: var(--main-blue);
    border-radius: 50px;
}
.navbar{
    display: none;
}

#phone-img{
    width: 70%;
    margin-top: 2rem;
    margin-bottom: -3rem;
}

.card div i{
    color: var(--main-blue);
    font-size: 5.5rem;
    margin-bottom: 2rem;
}

/* Strategic planning */

.secondary-bg{
    background-color: #9792e4;
    color:white;
}

.planning-img{
    margin-top: 2rem;
    width: 100%;
    margin-bottom: 5rem;
}

.planning p{
    line-height: 2rem;

}

.planning h2{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.white-bg{
    background-color: white;
}

.white-div{
    padding: 2rem;
    margin-top: 3rem;
    border-radius: 50px;
    color: black;
    text-align: center;

}

.white-div h2{
    
    font-size: 2rem;
}

.white-div p{
    font-style: italic;
}

.white-div span{
    border-radius: 50%;
    display: inline-block;
    padding: 1.5rem;
    margin: 1.5625rem 0px;
}


/* Testimonials */

.testimonials p, h2, h3{
    text-align: center;
    line-height: 1.5rem;
}

.testimonials h3{
    margin-top: 2.5rem;
    color: black;
    text-align: center;
    font-weight: 100;
}

.testimonials h2{
    color: var(--secondary-color);
    margin: 2rem 0px;
    font-size: 2rem;
}

.testimonials-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.test-card{
    margin-bottom: 2rem
}

.test-card h3{
    padding: 1rem;
    color: white;
}

.flex .test-card:last-child{
    margin-bottom: 5rem;
}

/* Benefits */

.benefits{
    padding-top: 5rem;
}

.benefits-card{
    background-color: white;
    margin: 2rem 0rem;
    border-radius: 25px;
    padding: 2.5rem;
}

.benefits-card h2, h3{
    color: var(--secondary-color);
    text-align: left;
}

.benefits-card h2{
    font-family:'Courier New', Courier, monospace;
    font-size: 3rem;
    padding: 1rem;
    padding-left: 0rem;

}

.benefits-card p{
    margin-top: 2rem;
    line-height: 2rem;
    color: black;
    opacity: 0.8;
}

.benefits-card span{
    display: inline-block;
    background-color: var(--secondary-color);
    border-radius: 25px;
    padding: 1rem 2rem;
    margin-top: 1rem;
}

.about-us{
    line-height: 2rem;
    margin-bottom: 5rem;
}

.about-us h2{
    color: var(--secondary-color);
    margin: 2rem 0rem;
    text-align: left;
    font-size: 2.5rem;
}

.about-us p{
    margin-bottom: 2rem;
}

.contact-div{
    position: relative;
    display: inline-block;
}

.contact-div i{
    position: absolute;
    font-size: 5rem;
    left: calc(100% - 3rem);
    color: var(--secondary-color)
}

.contact-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.contact h2{
    color: var(--secondary-color);
    line-height: 3rem;
}
.contact span{
    padding: 1rem;
    border-radius: 25px;
}

/* Get Started */

.get-started{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2.5rem;

}

.get-started *{
    padding: 1rem 0rem;
   
}

.get-started h4{
    font-weight: 100;
}

.get-started h3{
    color: white;
}

.get-started h2{
    color: #fdc15f;
    font-size: 3rem;
}

.get-button{
    padding: 1rem 2rem;
    border: none;
    background-color: white;
    color: var(--secondary-color);
    border-radius: 50px;
    font-size: 1.5rem;
    
}
.get-started i{
    font-size: .5rem;
}

/* Footer */

footer{
    background-color: #333333;
    color: white;
    text-align: center;
}
footer p{
    margin-bottom: 2rem;

}
footer a{
    color: var(--secondary-color);
}
/* Query */


@media screen and (min-width: 768px) {
    

}

@media screen and (min-width: 992px){
    .navbar{
        display: block;
    }
    .navbar ul{
        display: flex;
        list-style: none;
    }

    .navbar li{
        color: white;
        text-decoration: none;
        padding: .625rem;
    }
    
    .burger{
        display: none;
    }
}